
body {
  background: var(--white);
  margin: 0;
  padding: 0;
}

:root {
  --black: #0e0e0e;
  --overlay-black: #040404;
  --pink: #c49ba6;
  --white: #ffffff;
  --gray: #eeeeee;

  --max-width: 1366px;

}

.background--black {
  background:  var(--black);
}

.background--white {
  background: var(--white);
}

.background--pink {
  background: var(--pink);
  display: inline-block;
}


.container--full-width {
  width: 100%;
}

.container--center {
  padding: 5px 0;
  margin: 0 auto;
  max-width: var(--max-width);
  clear: both;
}

.free-shipping-bar {
  text-align: center;
  color: var(--white);
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
}

.background--headermodel {
  background-image: url("images/modelheader.png");
  padding-bottom: 300px;
  margin: 0;
  display: inline-block;
  background-size: cover;
}

.container--center .header--logo-icons {
  float: right;
  margin: 25px 0;
}

.header--logo-icons {
  width: 64%;
  position: relative;
}

.header--logo {
  float: left;
}

.header--icons {
 float: right;
}

.header--links {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
}

.header--link {
  list-style-type: none;
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.header--link a {
  text-decoration: none;
  color: var(--black)
}

.header--description-button {
  float: right;
  width: 25%;
  padding-right: 90px;
  padding-top: 120px;
}

.header--description {
  font-family: 'Lora' , sans-serif;
  font-size: 46px;
  line-height: 65px;
  padding-bottom: 15px;
  font-weight: lighter;
}

.header--button {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 15px 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*superpower fits here*/

.turnstyle--description-button {
  float: left;
  padding-top: 100px;
  padding-bottom: 90px;
  padding-left: 200px;
  width: 27%
}

.turnstyle--description {
  font-family: 'Lora' , sans-serif;
  font-size: 46px;
  color: var(--white);
  line-height: 65px;
  font-weight: lighter;
}

.turnstyle--button {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.background--turnstyle {
  background-image: url("images/turnstyle.png");
  display: flex;
  background-repeat: no-repeat;
  background-position: 700px 0px ;
}

.container--center .box--model-help {
  width: 90%;
  margin: 150px auto;
}

.box--model {
  float:left;
}

.box--help {
  background: var(--black);
  float: right;
}

.helpbox--words-button {
  width: 60%;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 115px;
  margin: 0 auto;

}

.box--white {
  color: white;
  font-family: 'Lora' , serif;
  font-size: 40px;
  padding-bottom: 70px;
  font-weight: lighter;
}

.box--pink {
  color: var(--pink);
  font-family: 'Lora' , serif;
  font-size: 40px;
  padding-bottom: 50px;
  font-weight: lighter;
}

.box--button {
  background-color: var(--white);
  border: none;
  color: black;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.linebreak--deals {
  margin: 150px auto;
  width: 90%;
}

hr {
  border: 1px solid var(--pink);
}

.deals {
  color: black;
  font-family: 'Lora' , serif;
  font-size: 46px;
  text-align: center;
  font-weight: lighter;
}

.and {
  color: var(--pink);
  font-family: 'Lora' , serif;
  font-size: 46px;
  text-align: center;
  font-weight: lighter;
}

.background--gray {
  background-color: var(--gray);
  width: 75%;
  float: left;
}

.betsie--description {
  padding-top: 80px;
  padding-left: 75px;
  position: relative;
}

.betsie--design {
  font-family: 'Lora' , serif;
  font-size: 46px;
  width: 60%;
  line-height: 70px;
  font-weight: lighter;
}


p.about {
  width: 40%;
  font-family: 'Open Sans' , sans-serif;
  line-height: 25px;
}

p.betsie {
  font-family: 'Open Sans' , serif;
  padding-bottom: 80px;
  font-weight: 800;
}

.instagram {
  width: 90%;
  margin: 200px auto;
}

.insta--pink {
  font-family: 'Lora' , serif;
  font-size: 46px;
  text-align: center;
  color: var(--pink);
  font-weight: lighter;
}

.insta--links {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.insta--link {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.background--overlay-black {
  width: 60%;
  color: var(--overlay-black);
}

.footer {
  font-family: 'Open Sans' , sans-serif;
  color: var(--white);

}

.newsletter--subscribe {
  font-size: 12px;
}

.subscribe--input {
  margin-top: 4px;
  margin-right: 8px;
  padding: 5px 200px;
  color: gray;
  text-align: left;
  font-size:12px;
}

.subscribe--button {
    background-color: var(--pink);
    border: none;
    color: var(--white);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
